*{margin: 0; padding: 0;}
.xbox1{height: 60px; position: fixed; bottom: 0; left: 200px; right: 0}

.xbox1 .container{width: 85%; height: 100%;background-color: #2E3234;position: relative; float: left;}
.xbox1 .banner{width: 15%;height: 100%;background-color: #187B1B;position: relative; float: right;}

.xbox1 .pigi,.xbox1 .logo-halo,.xbox1 .button,.xbox1 .track{position: absolute}

.xbox1 .pigi{top: 5px;left: 50px}
.xbox1 .pigi img{width: 41.16px}

.xbox1 .logo-halo{top: 8px; left: 11%}
.xbox1 .logo-halo img{width: 208px;}

.xbox1 .track{top: 3px;left: 30%}
.xbox1 .track img{width: 80%}

.xbox1 .button{top: 7px; margin-left: 74%}
.xbox1 .button img{width: 80%}

.xbox1 .exclu{text-align: center;}
.xbox1 .exclu img{width: 113.39px; margin-top: 5px}
.ferme1{width: 20px !important;height: 20px !important; position: fixed; bottom: 35px; right: 5px}

/*//////// RESPONSIVE //////////*/
@media screen and (min-width:100px) and (max-width:319px){
    .xbox1 .track img.claim{display: none;}
}
@media screen and (min-width:320px) and (max-width:1679px){
    .xbox1 .track img.claim{display: none;}
}
@media screen and (min-width:720px) and (max-width:889px){
    .xbox1 .logo-halo{top: 3px;left: 45%}
    .xbox1 .logo-halo img{width: 120px}
    .xbox1 .button{top: 35px;left: -32.8%}
    .xbox1 .button img{width: 150px}
    .xbox1 .exclu img{width: 60px; margin-top: 20px}
    .ferme1{width: 15px !important;height: 15px !important; position: fixed; bottom: 40px; right: 5px}
    
}
@media screen and (min-width:890px) and (max-width:999px){
    .xbox1 .logo-halo{top: 3px;left: 45%}
    .xbox1 .logo-halo img{width: 120px}
    .xbox1 .button{top: 35px;left: -31%}
    .xbox1 .button img{width: 150px}
    .xbox1 .exclu img{width: 60px; margin-top: 20px}
    .ferme1{width: 15px !important;height: 15px !important; position: fixed; bottom: 40px; right: 5px}
    
}
@media screen and (min-width:1000px) and (max-width:1499px){
    .xbox1 .logo-halo{left: 20%}
    .xbox1 .button{top: 9px;left: -18%}
    .xbox1 .button img{width: 260px}
    .xbox1 .exclu img{width: 85px; margin-top: 13px}
    .ferme1{width: 15px !important;height: 15px !important; position: fixed; bottom: 40px; right: 5px}
}
@media screen and (min-width:1500px) and (max-width:1679px){
    .xbox1 .logo-halo{left: 25%}
    .xbox1 .button{top: 2px;left: -16%}
    .xbox1 .button img{width: 361.25px}
}
/*//////// RESPONSIVE //////////*/



.xbox2{height: 150px; position: fixed; bottom: -150px; left: 200px; right: 0}

.xbox2 .container2{width: 85%; height: 100%;background-image: url('../img/background_02.jpg');background-repeat: no-repeat;position: relative; float: left;background-size: 100% 100%;}
.banner{width: 15%;height: 150px;background-color: #187B1B;position: relative; float: right;}

.xbox2 .pigi, .xbox2 .logo-halo, .xbox2 .button{position: absolute;}

.xbox2 .pigi{top: 80px; left: 10px;}

.xbox2 .logo-halo{top: 25px; left: 405px;}

.xbox2 .button{top: 40px;left: 1005px;}

.xbox2 .head2{top:-150px;position: relative;float: right;}

/*.xbox2 .exclu{top: 30px; left: 58px;}*/

.xbox2 .exclu {text-align: center; margin-top: 40px}
.ferme{position: fixed; bottom: 120px; right: 5px;display: none}

/* //////// RESPONSIVE //////////*/
@media screen and (min-width:500px) and (max-width:699px){
    .xbox2{height: 150px; position: fixed; bottom: -150px; left: 200px; right: 0}
    .xbox2 .head img.h1-1{display:none;}
    .xbox2 .head2 img.h2-1{display:none;}
}

@media screen and (min-width:720px) and (max-width:749px){
    .xbox2{height: 150px; position: fixed; bottom: -150px; left: 200px; right: 0}
    .xbox2 .container2{width: 100%; height: 129px;background-image: url('../img/background_02.jpg');background-repeat: no-repeat;position: relative;background-size: 100% 100%}
    .xbox2 .banner{width: 100%;height: 21px;background-color: #187B1B;position: relative;text-align: center}
    .xbox2 .logo-halo{top: 30px;left: 38%!important;}
    .xbox2 .button{top: 70px;left:38%!important;}
    .xbox2 .exclu{left: 15%!important;top: 44px;}
    .xbox2 .exclu2 img{width: 30%;}
    .xbox2 .logo-halo img, .xbox2 .button img {width: 40%!important;}
    .xbox2 .head img.h1-1{display:none;}
    .xbox2 .head2 img.h2-1{display:none;}
    .xbox2 .exclu1{display: none}
    .xbox2 .exclu2{position: relative;margin-top: -40px; }
    .xbox2 .pigi{top:75px;}
    .xbox2 .pigi img{width: 73%;}
}
@media screen and (min-width:750px) and (max-width:899px){
    .xbox2{height: 150px; position: fixed; bottom: -150px; left: 200px; right: 0}
    .xbox2 .container2{width: 100%; height: 129px;background-image: url('../img/background_02.jpg');background-repeat: no-repeat;position: relative;background-size: 100% 100%}
    .xbox2 .banner{width: 100%;height: 21px;background-color: #187B1B;position: relative;text-align: center}
    .xbox2 .logo-halo{top: 30px;left: 38%!important;}
    .xbox2 .button{top: 70px;left:38%!important;}
    .xbox2 .exclu{left: 15%!important;top: 44px;}
    .xbox2 .exclu2 img{width: 30%;}
    .xbox2 .logo-halo img, .xbox2 .button img {width: 40%!important;}
    .xbox2 .head img.h1-1{display:none;}
    .xbox2 .head2 img.h2-1{display:none;}
    .xbox2 .exclu1{display: none}
    .xbox2 .exclu2{position: relative;margin-top: -40px; }
    .xbox2 .pigi{top:75px;}
    .xbox2 .pigi img{width: 73%;}
}
@media screen and (min-width:750px) and (max-width:899px){
    .xbox2{height: 150px; position: fixed; bottom: -150px; left: 200px; right: 0}
    .xbox2 .container2{width: 100%; height: 129px;background-image: url('../img/background_02.jpg');background-repeat: no-repeat;position: relative;background-size: 100% 100%}
    .xbox2 .banner{width: 100%;height: 21px;background-color: #187B1B;position: relative;text-align: center}
    .xbox2 .logo-halo{top: 30px;left: 38%!important;}
    .xbox2 .button{top: 70px;left:38%!important;}
    .xbox2 .exclu{left: 15%!important;top: 44px;}
    .xbox2 .exclu2 img{width: 30%;}
    .xbox2 .logo-halo img, .xbox2 .button img {width: 40%!important;}
    .xbox2 .head img.h1-1{display:none;}
    .xbox2 .head2 img.h2-1{display:none;}
    .xbox2 .exclu1{display: none}
    .xbox2 .exclu2{position: relative;margin-top: -40px; }
    .xbox2 .pigi{top:75px;}
    .xbox2 .pigi img{width: 73%;}
}
@media screen and (min-width:900px) and (max-width:999px){
    .xbox2{height: 150px; position: fixed; bottom: -150px; left: 200px; right: 0}
    .xbox2 .container2{width: 100%; height: 129px;background-image: url('../img/background_02.jpg');background-repeat: no-repeat;position: relative;background-size: 100% 100%}
    .xbox2 .banner{width: 100%;height: 21px;background-color: #187B1B;position: relative;text-align: center}
    .xbox2 .logo-halo{top: 30px;left: 35%!important;}
    .xbox2 .button{top: 90px;left:36%!important;}
    .xbox2 .exclu{left: 15%!important;top: 44px;}
    .xbox2 .exclu2 img{width: 30%;}
    .xbox2 .logo-halo img, .xbox2 .button img {width: 45%!important;}
    .xbox2 .head img.h1-1{display:none;}
    .xbox2 .head2 img.h2-1{display:none;}
    .xbox2 .exclu1{display: none}
    .xbox2 .exclu2{position: relative;margin-top: -40px; }
    .xbox2 .pigi{top:75px;}
    .xbox2 .pigi img{width: 73%;}
}
@media screen and (min-width:1000px) and (max-width:1245px){
    .xbox2{height: 150px; position: fixed; bottom: -150px; left: 200px; right: 0}
    .xbox2 .logo-halo{top: 10px;left: 37%!important;}
    .xbox2 .button{top: 90px;left:39.5%!important;}
    .xbox2 .exclu{left: 15%!important;top: 44px;}
    .xbox2 .exclu img{width: 85%;}
    .xbox2 .logo-halo img, .xbox2 .button img {width: 57%!important;}
    .xbox2 .head img.h1-1{display:none;}
    .xbox2 .head2 img.h2-1{display:none;}
    .xbox2 .exclu2{display: none}
}    
@media screen and (min-width:1246px) and (max-width:1279px){
    /*.xbox2{height: 150px; position: fixed; bottom: -150px; left: 200px; right: 0}
    .xbox2 .logo-halo{top: 40px;left: 28%!important;}
    .xbox2 .button{top: 48px;left:56%!important;}
    .xbox2 .exclu{left: 16%!important;top: 40px !important;}
    .xbox2 .exclu img{width: 80%;}
    .xbox2 .logo-halo img, .xbox2 .button img{width: 50%!important;}
    .xbox2 .head img.h1-2{display:none;}
    .xbox2 .head2 img.h2-2{display:none;}*/
    .xbox2{height: 150px; position: fixed; bottom: -150px; left: 200px; right: 0}
    .xbox2 .logo-halo{top: 10px;left: 37%!important;}
    .xbox2 .button{top: 90px;left:39.5%!important;}
    .xbox2 .exclu{left: 15%!important;top: 44px;}
    .xbox2 .exclu img{width: 85%;}
    .xbox2 .logo-halo img, .xbox2 .button img {width: 57%!important;}
    .xbox2 .head img.h1-1{display:none;}
    .xbox2 .head2 img.h2-1{display:none;}
    .xbox2 .exclu2{display: none}
}
@media screen and (min-width:1280px) and (max-width:1439px){
    /*.xbox2{height: 150px; position: fixed; bottom: -150px; left: 200px; right: 0}
    .xbox2 .logo-halo{top: 40px;left: 26%;}
    .xbox2 .button{top: 48px;left:56%;}
    .xbox2 .exclu{left: 5%;}
    .xbox2 .logo-halo img, .xbox2 .button img {width: 48%;}
    .xbox2 .head img.h1-2{display:none;}
    .xbox2 .head2 img.h2-2{display:none;}
    .xbox2 .exclu2{display: none}*/
    .xbox2{height: 150px; position: fixed; bottom: -150px; left: 200px; right: 0}
    .xbox2 .logo-halo{top: 10px;left: 37%!important;}
    .xbox2 .button{top: 90px;left:39.5%!important;}
    .xbox2 .exclu{left: 15%!important;top: 44px;}
    .xbox2 .exclu img{width: 85%;}
    .xbox2 .logo-halo img, .xbox2 .button img {width: 57%!important;}
    .xbox2 .head img.h1-1{display:none;}
    .xbox2 .head2 img.h2-1{display:none;}
    .xbox2 .exclu2{display: none}
}
@media screen and (min-width:1440px) and (max-width:1499px){
    .xbox2{height: 150px; position: fixed; bottom: -150px; left: 200px; right: 0}
    .xbox2 .logo-halo{top: 40px;left: 27%;}
    .xbox2 .button{top: 48px;left:56%;}
    .xbox2 .exclu{left: 7%;}
    .xbox2 .logo-halo img, .xbox2 .button img {width: 50%;}
    .xbox2 .head img.h1-2{display:none;}
    .xbox2 .head2 img.h2-2{display:none;}
    .xbox2 .exclu2{display: none}
}
@media screen and (min-width:1500px) and (max-width:1611px){
    .xbox2{height: 150px; position: fixed; bottom: -150px; left: 200px; right: 0}
    .xbox2 .container2{width: 85%; height: 100%;background-image: url('../img/background_02.jpg');background-repeat: no-repeat;position: relative; float: left;background-size: 100% 100%}
    .xbox2 .logo-halo{top: 40px;left: 28%;}
    .xbox2 .button{top: 48px;left:56%;}
    .xbox2 .logo-halo img, .xbox2 .button img {width: 55%;}
    .xbox2 .head img.h1-2{display:none;}
    .xbox2 .head2 img.h2-2{display:none;}
    .xbox2 .exclu2{display: none}
}
@media screen and (min-width:1612px) and (max-width:1784px){
    .xbox2{height: 150px; position: fixed; bottom: -150px; left: 200px; right: 0}
    .xbox2 .container2{width: 85%; height: 100%;background-image: url('../img/background_02.jpg');background-repeat: no-repeat;position: relative; float: left;background-size: 100% 100%}
    .xbox2 .logo-halo{top: 40px;left: 28%;}
    .xbox2 .button{top: 48px;left:58%;}
    .xbox2 .logo-halo img, .xbox2 .button img {width: 60%;}
    .xbox2 .head img.h1-2{display:none;}
    .xbox2 .head2 img.h2-2{display:none;}
    .xbox2 .exclu2{display: none}
}
@media screen and (min-width:1785px) and (max-width:1972px){
    .xbox2 .logo-halo{top: 38px;left: 24%;}
    .xbox2 .button{top: 46px;left:56%;}
    .xbox2 .logo-halo img, .xbox2 .button img {width: 80%;}
}
@media screen and (min-width:1680px) and (max-width:3000px){
    .xbox2 .head img.h1-2{display:none;}
    .xbox2 .head2 img.h2-2{display:none;}
    .xbox2 .exclu2{display: none}
    .xbox2 .banner{text-align: center !important}

}



/* //////// RESPONSIVE //////////*/