/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 mai 2016, 02:11:49
    Author     : JuanGonzalez
*/
*{margin: 0; padding: 0}
.st_contenu{height: 60px}
.st_nik_container{overflow: hidden; position: absolute;height: 100%;left: 200px; right: 0;}
.st_banner{background-image: url('../img/BG.png'); background-position: top; position: relative;  background-repeat: no-repeat;background-color: #c3c1c2;width: 100%; height: 60px;}
.st_logo{background-image: url('../img/logo.png'); background-repeat: no-repeat; width: 53px; height: 53px;position: absolute;top: 2.5px;left: 16%}
.st_jesuis{background-image: url('../img/jesuis.png');background-repeat: no-repeat; width: 165px;height: 23px;position: absolute;top: 16px; left: 27%}
.st_camera{background-image: url('../img/camera.png');background-repeat: no-repeat; width: 102px;height: 60px;position: absolute;top: 0px; left: 40.5%}
.st_1j5{background-image: url('../img/1j5.png');background-repeat: no-repeat; width: 97px;height: 16px;position: absolute;top: 26px; left: 47.1%}
.st_prix{background-image: url('../img/prix.png');background-repeat: no-repeat; width: 209px;height: 50px;position: absolute;top: 5px; left: 57%}
.st_click{background-image: url('../img/click.png');background-repeat: no-repeat; width: 108px;height: 24px;position: absolute;top: 16px; right: 49px}
.st_fermer{background-image: url('../img/fermer.png');background-repeat: no-repeat; width: 18px;height: 18px;position: absolute;top: 4px; right: 7px}


@media screen and (min-width:100px) and (max-width:319px){
    .st_nik_container{overflow: hidden; height: 60px;position: absolute; left: 0px; right: 0}
    .st_banner{background-image: none}
    .st_logo{left: 2px;}
    .st_jesuis{top: 2.5px; left: 20%; background-size: 50% 50%}
    .st_camera{top: 14px;left: 19%;background-size: 60% 60%}
    .st_1j5{top: 50px;left: 20.5%;background-size: 45% 45%}
    .st_prix{top: 2px;left: 50%;background-size: 60% 60%}
    .st_click{top: 35px;left: 50%;background-size: 80% 80%}
}
@media screen and (min-width:320px) and (max-width:374px){
    .st_nik_container{overflow: hidden; height: 60px;position: absolute; left: 0px; right: 0}
    .st_banner{background-image: none}
    .st_logo{left: 2px;}
    .st_jesuis{top: 2.5px; left: 20%; background-size: 50% 50%}
    .st_camera{top: 14px;left: 19%;background-size: 60% 60%}
    .st_1j5{top: 50px;left: 20.5%;background-size: 45% 45%}
    .st_prix{top: 2px;left: 50%;background-size: 60% 60%}
    .st_click{top: 35px;left: 50%;background-size: 80% 80%}
}
@media screen and (min-width:375px) and (max-width:383px){
    .st_nik_container{overflow: hidden; height: 60px;position: absolute; left: 0px; right: 0}
    .st_banner{background-image: none}
    .st_logo{left: 2px;}
    .st_jesuis{top: 2.5px; left: 20%; background-size: 50% 50%}
    .st_camera{top: 14px;left: 19%;background-size: 60% 60%}
    .st_1j5{top: 50px;left: 20.5%;background-size: 45% 45%}
    .st_prix{top: 2px;left: 50%;background-size: 60% 60%}
    .st_click{top: 35px;left: 50%;background-size: 80% 80%}
}
@media screen and (min-width:384px) and (max-width:413px){
    .st_nik_container{overflow: hidden; height: 60px;position: absolute; left: 0px; right: 0}
    .st_banner{background-image: none}
    .st_logo{left: 2px;}
    .st_jesuis{top: 2.5px; left: 20%; background-size: 50% 50%}
    .st_camera{top: 14px;left: 19%;background-size: 60% 60%}
    .st_1j5{top: 50px;left: 20.5%;background-size: 45% 45%}
    .st_prix{top: 2px;left: 50%;background-size: 60% 60%}
    .st_click{top: 35px;left: 50%;background-size: 80% 80%}
}
@media screen and (min-width:414px) and (max-width:567px){
    .st_nik_container{overflow: hidden; height: 60px;position: absolute; left: 0px; right: 0}
    .st_banner{background-image: none}
    .st_logo{left: 2px;}
    .st_jesuis{top: 2.5px; left: 20%; background-size: 50% 50%}
    .st_camera{top: 14px;left: 19%;background-size: 60% 60%}
    .st_1j5{top: 50px;left: 20.5%;background-size: 45% 45%}
    .st_prix{top: 2px;left: 50%;background-size: 60% 60%}
    .st_click{top: 35px;left: 50%;background-size: 80% 80%}
}
@media screen and (min-width:414px) and (max-width:599px){
    .st_nik_container{overflow: hidden; height: 60px;position: absolute; left: 0px; right: 0}
    .st_banner{background-image: none}
    .st_logo{left: 2px;}
    .st_jesuis{top:20px; left: 12%; background-size: 70% 70%}
    .st_camera{top: 2px;left: 43.5%;background-size: 70% 70%}
    .st_1j5{top: 50px;left: 46%;background-size: 45% 45%}
    .st_prix{top: 2px;left: 70%;background-size: 60% 60%}
    .st_click{top: 35px;left: 70%;background-size: 80% 80%}
}
@media screen and (min-width:600px) and (max-width:769px){
    .st_nik_container{overflow: hidden; height: 60px;position: absolute; left: 0px; right: 0}
    .st_logo{left: 2px;}
    .st_jesuis{top:20px; left: 12%; background-size: 70% 70%}
    .st_camera{top: 2px;left: 43.5%;background-size: 70% 70%}
    .st_1j5{top: 50px;left: 46%;background-size: 45% 45%}
    .st_prix{top: 2px;left: 70%;background-size: 60% 60%}
    .st_click{top: 35px;left: 70%;background-size: 80% 80%}
}
@media screen and (min-width:770px) and (max-width:999px){
    .st_logo{left: 2px;}
    .st_jesuis{top:20px; left: 12%; background-size: 70% 70%}
    .st_camera{top: 2px;left: 43.5%;background-size: 70% 70%}
    .st_1j5{top: 50px;left: 46%;background-size: 45% 45%}
    .st_prix{top: 2px;left: 70%;background-size: 60% 60%}
    .st_click{top: 35px;left: 70%;background-size: 80% 80%}
}
@media screen and (min-width:1000px) and (max-width:1024px){
    .st_logo{left: 2px;}
    .st_jesuis{left: 10%}
    .st_camera{background-size: 70%;left: 45%}
    .st_1j5{background-size: 50%; top: 45px;left: 46.5%}
    .st_prix{background-size: 70%; top: 22%}
}
@media screen and (min-width:1025px) and (max-width:1280px){
    .st_logo{left: 2px;}
    .st_jesuis{left: 10%}
    .st_camera{background-size: 70%;left: 45%}
    .st_1j5{background-size: 50%; top: 45px;left: 46.5%}
    .st_prix{background-size: 70%; top: 22%}
}
@media screen and (min-width:1281px) and (max-width:1440px){
    .st_logo{left: 2px;}
    .st_jesuis{left: 10%}
    .st_camera{left: 38%}
    .st_1j5{background-size: 90%; top: 25px;left: 46.5%}
    .st_prix{top: 2px}
}