/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 mai 2016, 20:31:50
    Author     : JuanGonzalez
*/

*{margin: 0; padding: 0; border: none;}

/*/:/:/:/:/:/:/GENERAL PETITE BANNIER/:/:/:/:/:/://*/
.st_contenu{position: fixed; left: 200px;right: 0; bottom: 0; height: 60px;}
.st_banner{height: 60px;; width: 100%; background-image: url('../img/fermer/2000/bg.png');background-repeat: no-repeat; background-color: #080f16;background-size: 100%}
.st_pcars{background-image: url('../img/fermer/2000/pcars.png'); background-repeat: no-repeat; width: 108px; height: 44px; position: absolute; left: 13px; top: 9px}
.st_goy{background-image: url('../img/fermer/2000/goy.png'); background-repeat: no-repeat; width: 159px; height: 27px; position: absolute; left: 8%; top: 18px}
.st_ultimate{background-image: url('../img/fermer/2000/ultime.png');background-repeat: no-repeat; width: 267px; height: 30px; position: absolute; left: 18%; top: 12px}
.st_comp{background-image: url('../img/fermer/2000/comp.png');background-repeat: no-repeat; width: 249px; height: 22px; position: absolute; left: 32.5%; top: 21px}
.st_dispo{background-image: url('../img/fermer/2000/dispo.png'); background-repeat: no-repeat;width: 410px; height: 41px;position: absolute; left: 60%;top: 9px;}
.st_button{background-image: url('../img/fermer/2000/button.png'); background-repeat: no-repeat;width: 135px;height: 34px;position: absolute; right: 35px; top: 13px;}
.st_fermer{background-image: url('../img/fermer/2000/fermer.png'); background-repeat: no-repeat;width: 18px; height: 18px; position: absolute; right: 7px; top: 7px;}
/*/:/:/:/:/:/:/GENERAL PETITE BANNIER FIN/:/:/:/:/:/:/*/

/*/:/:/:/:/:/:/GENERAL GRAND BANNIER/:/:/:/:/:/://*/
.st_contenu2{position: fixed; left: 200px;right: 0; bottom: -150px; height: 150px;cursor: pointer}
.st_banner2{height: 150px;; width: 100%; background-image: url('../img/ouvert/2000/bg.png');background-repeat: no-repeat; background-color: #080f16;}
.st_pcars2{background-image: url('../img/ouvert/2000/pcars.png'); background-repeat: no-repeat; width: 165px; height: 89px; position: absolute; left: 15px; top: 15px}
.st_logo{background-image: url('../img/ouvert/2000/logo.png'); background-repeat: no-repeat; width: 122px; height: 20px; position: absolute; left: 15px; bottom: 5px}
.st_ultimate2{background-image: url('../img/ouvert/2000/tag.png');background-repeat: no-repeat; width: 281px; height: 113px; position: absolute; left: 11.5%; top: 12px}
.st_pack{background-image: url('../img/ouvert/2000/pack.png');background-repeat: no-repeat; width: 281px; height: 113px; position: absolute; left: 29%; top: 12px}
.st_dispo2{background-image: url('../img/ouvert/2000/dispo.png');background-repeat: no-repeat; width: 502px; height: 47px; position: absolute; left: 66.5%; top: 12px}
.st_laurel{background-image: url('../img/ouvert/2000/laurel.png');background-repeat: no-repeat; width: 370px; height: 52px; position: absolute; left: 66.5%; bottom: 20px}
.st_button2{background-image: url('../img/ouvert/2000/button.png');background-repeat: no-repeat; width: 135px; height: 34px; position: absolute; right: 60px; bottom: 30px}
.st_redu{background-image: url('../img/ouvert/2000/redu.png'); background-repeat: no-repeat;width: 18px; height: 18px; position: absolute; right: 30px; top: 7px;}
/*/:/:/:/:/:/:/GENERAL GRAND BANNIER FIN/:/:/:/:/:/:/*/

/*/:/:/:/:/:/:/RESPONSIVE-SMARTPHONE-TABLETTE/:/:/:/:/:/:/*/
@media screen and (min-width:100px) and (max-width:319px){
    /*/:/:/:/:/:/:/PETITE BANNIER/:/:/:/:/:/:/*/
    .st_contenu{position: fixed; left: 0;right: 0;bottom: 0;height: 60px;}
    .st_banner{background-image: url('../img/fermer/375/bg.png')}
    .st_pcars{background-image: url('../img/fermer/375/pcars.png');}
    .st_goy{display: none !important; background-image: none !important;}
    .st_ultimate{display: none !important; background-image: none !important;}
    .st_comp{display: none !important; background-image: none !important;}
    .st_dispo{background-image: url('../img/fermer/375/dispo.png'); left: 31%; top: 11px}
    .st_button{background-image: url('../img/fermer/375/button.png');background-size: 70%; right: -17px;top: 16px}
    /*/:/:/:/:/:/:/PETITE BANNIER FIN/:/:/:/:/:/:/*/
    .st_contenu2{position: fixed; left: 0;right: 0;bottom: -150px;height: 150px;}
    .st_banner2{background-image: url('../img/ouvert/375/bg.png')}
    .st_pcars2{background-image: url('../img/ouvert/375/pcars.png');}
    .st_ultimate2{display: none; background-image: none}
    .st_pack{background-image: url('../img/ouvert/375/pack.png'); left: 17px;}
    .st_laurel{display: none; background-image: none}
    .st_dispo2{background-image: url('../img/ouvert/375/dispo.png') !important;width: 137px; height: 42px;}
    .st_button2{background-image: url('../img/ouvert/375/button.png')!important;width: 135px; height: 34px;top: 20px !important}
}
@media screen and (min-width:320px) and (max-width:374px){
    /*/:/:/:/:/:/:/PETITE BANNIER/:/:/:/:/:/:/*/
    .st_contenu{position: fixed; left: 0;right: 0;bottom: 0;height: 60px;}
    .st_banner{background-image: url('../img/fermer/375/bg.png')}
    .st_pcars{background-image: url('../img/fermer/375/pcars.png');}
    .st_goy{display: none !important; background-image: none !important;}
    .st_ultimate{display: none !important; background-image: none !important;}
    .st_comp{display: none !important; background-image: none !important;}
    .st_dispo{background-image: url('../img/fermer/375/dispo.png'); left: 31%; top: 11px}
    .st_button{background-image: url('../img/fermer/375/button.png');background-size: 70%; right: -17px;top: 16px}
    /*/:/:/:/:/:/:/BANNIER PETITE FIN/:/:/:/:/:/:/*/
    .st_contenu2{position: fixed; left: 0;right: 0;bottom: -150px;height: 150px;}
    .st_banner2{background-image: url('../img/ouvert/375/bg.png')}
    .st_pcars2{background-image: url('../img/ouvert/375/pcars.png');}
    .st_ultimate2{display: none; background-image: none}
    .st_pack{background-image: url('../img/ouvert/375/pack.png'); left: 17px; background-size: 60%}
    .st_laurel{display: none; background-image: none}
    .st_dispo2{background-image: url('../img/ouvert/375/dispo.png') !important;width: 137px; height: 42px;top: 35px !important;background-size: 80%;left: 60%}
    .st_button2{background-image: url('../img/ouvert/375/button.png')!important;width: 135px; height: 34px;background-size: 80%;left: 60%}
}
@media screen and (min-width:375px) and (max-width:540px){
    /*/:/:/:/:/:/:/PETITE BANNIER/:/:/:/:/:/:/*/
    .st_contenu{position: fixed; left: 0;right: 0;bottom: 0;height: 60px;}
    .st_banner{background-image: url('../img/fermer/375/bg.png')}
    .st_pcars{background-image: url('../img/fermer/375/pcars.png');}
    .st_goy{display: none !important; background-image: none}
    .st_ultimate{display: none !important; background-image: none !important;}
    .st_comp{display: none !important; background-image: none}
    .st_dispo{background-image: url('../img/fermer/375/dispo.png'); left: 26%; top: 11px}
    .st_button{background-image: url('../img/fermer/375/button.png');}
    /*/:/:/:/:/:/:/BANNIER PETITE FIN/:/:/:/:/:/:/*/
    .st_contenu2{position: fixed; left: 0;right: 0;bottom: -150px;height: 150px;}
    .st_banner2{background-image: url('../img/ouvert/720/bg.png')}
    .st_pcars2{background-image: url('../img/ouvert/375/pcars.png');}
    .st_ultimate2{display: none; background-image: none}
    .st_pack{background-image: url('../img/ouvert/375/pack.png'); left: 17px;}
    .st_laurel{display: none; background-image: none}
    .st_dispo2{background-image: url('../img/ouvert/375/dispo.png') !important;width: 137px; height: 42px;top: 35px !important; left: 60%}
    .st_button2{background-image: url('../img/ouvert/375/button.png')!important;width: 135px; height: 34px;left: 60%}
}
@media screen and (min-width:541px) and (max-width:568px){
    /*/:/:/:/:/:/:/PETITE BANNIER/:/:/:/:/:/:/*/
    .st_contenu{position: fixed; left: 0;right: 0;bottom: 0;height: 60px;}
    .st_dispo{left: 50% !important}
    .st_ultimate{background-size: 60% !important;left: 20% !important; top: 14px !important;}
    /*/:/:/:/:/:/:/BANNIER PETITE FIN/:/:/:/:/:/:/*/
    .st_contenu2{position: fixed; left: 0;right: 0;bottom: -150px;height: 150px;}
    .st_dispo2{background-image: url('../img/ouvert/375/dispo.png') !important;width: 137px; height: 42px;top: 35px !important; left: 60%}
    .st_button2{background-image: url('../img/ouvert/375/button.png')!important;width: 135px; height: 34px;left: 60%}
    .st_ultimate2{display: none; background-image: none}
}
@media screen and (min-width:569px) and (max-width:601px){
    /*/:/:/:/:/:/:/PETITE BANNIER/:/:/:/:/:/:/*/
    .st_contenu{position: fixed; left: 0;right: 0;bottom: 0;height: 60px;}
    .st_dispo{left: 52% !important}
    .st_ultimate{background-size: 65% !important;left: 20% !important; top: 12px !important;}
    /*/:/:/:/:/:/:/BANNIER PETITE FIN/:/:/:/:/:/:/*/
    .st_contenu2{position: fixed; left: 0;right: 0;bottom: -150px;height: 150px;}
    .st_dispo2{background-image: url('../img/ouvert/375/dispo.png') !important;width: 137px; height: 42px;top: 35px !important; left: 60%}
    .st_button2{background-image: url('../img/ouvert/375/button.png')!important;width: 135px; height: 34px;left: 60%}
    .st_ultimate2{display: none; background-image: none}
    .st_laurel{display: none; background-image: none}
}
@media screen and (min-width:602px) and (max-width:667px){
    /*/:/:/:/:/:/:/PETITE BANNIER/:/:/:/:/:/:/*/
    .st_contenu{position: fixed; left: 0;right: 0;bottom: 0;height: 60px;}
    .st_dispo{left: 55% !important}
    .st_ultimate{background-size: 80% !important;left: 20% !important; top: 10px !important;height: 47px;}
    /*/:/:/:/:/:/:/BANNIER PETITE FIN/:/:/:/:/:/:/*/
    .st_contenu2{position: fixed; left: 0;right: 0;bottom: -150px;height: 150px;}
    .st_dispo2{background-image: url('../img/ouvert/375/dispo.png') !important;width: 137px; height: 42px;top: 35px !important; left: 60%}
    .st_button2{background-image: url('../img/ouvert/375/button.png')!important;width: 135px; height: 34px;left: 60%}
    .st_ultimate2{display: none; background-image: none}
    .st_laurel{display: none; background-image: none}
}
@media screen and (min-width:668px) and (max-width:766px){
    /*/:/:/:/:/:/:/PETITE BANNIER/:/:/:/:/:/:/*/
    .st_contenu{position: fixed; left: 0;right: 0;bottom: 0;height: 60px;}
    .st_dispo{left: 56% !important}
    .st_ultimate{background-size: 80% !important;left: 21% !important; top: 10px !important;height: 47px;}
    /*/:/:/:/:/:/:/BANNIER PETITE FIN/:/:/:/:/:/:/*/
    .st_contenu2{position: fixed; left: 0;right: 0;bottom: -150px;height: 150px;}
    .st_ultimate2{display: none; background-image: none}
}
@media screen and (min-width:668px) and (max-width:719px){
    /*/:/:/:/:/:/:/BANNIER PETITE FIN/:/:/:/:/:/:/*/
    .st_contenu2{position: fixed; left: 0;right: 0;bottom: -150px;height: 150px;}
    .st_dispo2{background-image: url('../img/ouvert/375/dispo.png') !important;width: 137px; height: 42px;top: 35px !important; left: 60%}
    .st_button2{background-image: url('../img/ouvert/375/button.png')!important;width: 135px; height: 34px;left: 60%}
    .st_ultimate2{display: none; background-image: none}
}
@media screen and (min-width:720px) and (max-width:766px){
    /*/:/:/:/:/:/:/BANNIER PETITE FIN/:/:/:/:/:/:/*/
    .st_contenu2{position: fixed; left: 0;right: 0;bottom: -150px;height: 150px;}
    .st_pcars2{background-image: url('../img/ouvert/720/pcars.png') !important;}
    .st_ultimate2{background-image: url('../img/ouvert/720/tag.png') !important; height: 88px; width: 213px; display: block !important;left: 23%}
    .st_pack{background-image: url('../img/ouvert/720/pack.png') !important; left: 53% !important}
    .st_dispo2{left: 75%}
    .st_button2{left: 75%}

}
@media screen and (min-width:767px) and (max-width:769px){
    /*/:/:/:/:/:/:/PETITE BANNIER/:/:/:/:/:/:/*/
    .st_contenu{position: fixed; left: 0;right: 0;bottom: 0;height: 60px;}
    .st_dispo{left: 58% !important;}
    .st_ultimate{left: 18% !important; top: 4px !important;}
    /*/:/:/:/:/:/:/BANNIER PETITE FIN/:/:/:/:/:/:/*/
    .st_contenu2{position: fixed; left: 0;right: 0;bottom: -150px;height: 150px;}
    .st_pcars2{background-image: url('../img/ouvert/720/pcars.png') !important;}
    .st_ultimate2{background-image: url('../img/ouvert/720/tag.png') !important; height: 88px; width: 213px; display: block !important;left: 23%}
    .st_pack{background-image: url('../img/ouvert/720/pack.png') !important; left: 53% !important}
    .st_dispo2{left: 75%}
    .st_button2{left: 75%}
}

@media screen and (min-width:541px) and (max-width:999px){
    /*/:/:/:/:/:/:/PETITE BANNIER/:/:/:/:/:/:/*/
    
    .st_banner{background-image: url('../img/fermer/375/bg.png')}
    .st_pcars{background-image: url('../img/fermer/375/pcars.png');}
    .st_goy{display: none !important; background-image: none}
    .st_ultimate{background-image: url('../img/fermer/1000/ultime.png'); left: 23%;height: 47px;top: 12px;}
    .st_comp{display: none !important; background-image: none}
    .st_dispo{background-image: url('../img/fermer/375/dispo.png'); left: 58%; top: 11px}
    .st_button{background-image: url('../img/fermer/375/button.png');}
    
    /*/:/:/:/:/:/:/BANNIER PETITE FIN/:/:/:/:/:/:/*/
    
    .st_banner2{background-image: url('../img/ouvert/1000/bg.png')}
    .st_pcars2{background-image: url('../img/ouvert/375/pcars.png');}
    .st_pack{background-image: url('../img/ouvert/375/pack.png'); left: 17px;}
    .st_dispo2{background-image: url('../img/ouvert/375/dispo.png') ;width: 137px; height: 42px;}
    .st_button2{background-image: url('../img/ouvert/375/button.png');width: 135px; height: 34px;}
    .st_laurel{display: none; background-image: none}
}
@media screen and (min-width:770px) and (max-width:870px){
    /*/:/:/:/:/:/:/PETITE BANNIER/:/:/:/:/:/:/*/
    .st_banner{background-image: url('../img/fermer/375/bg.png')}
    .st_pcars{background-image: url('../img/fermer/375/pcars.png');}
    .st_goy{display: none !important; background-image: none}
    .st_ultimate{background-image: url('../img/fermer/1000/ultime.png');background-size: 60% !important; left: 20% !important; height: 47px;top: 12px;}
    .st_comp{display: none !important; background-image: none}
    
    
    .st_dispo{left: 50% !important}
    .st_ultimate{background-size: 60% !important;left: 20% !important; top: 14px !important;}
    /*/:/:/:/:/:/:/BANNIER PETITE FIN/:/:/:/:/:/:/*/
    .st_dispo2{background-image: url('../img/ouvert/375/dispo.png') !important;width: 137px; height: 42px;top: 35px !important; left: 60%}
    .st_button2{background-image: url('../img/ouvert/375/button.png')!important;width: 135px; height: 34px;left: 60%}
    .st_ultimate2{display: none; background-image: none}
}
@media screen and (min-width:871px) and (max-width:999px){
    /*/:/:/:/:/:/:/PETITE BANNIER/:/:/:/:/:/:/*/
    .st_banner{background-image: url('../img/fermer/375/bg.png')}
    .st_pcars{background-image: url('../img/fermer/375/pcars.png');}
    .st_goy{display: none !important; background-image: none}
    .st_ultimate{background-image: url('../img/fermer/1000/ultime.png'); left: 23%;height: 47px;top: 12px;}
    .st_comp{display: none !important; background-image: none}
    .st_dispo{background-image: url('../img/fermer/375/dispo.png'); left: 58%; top: 11px}
    .st_button{background-image: url('../img/fermer/375/button.png');}
    /*/:/:/:/:/:/:/BANNIER PETITE FIN/:/:/:/:/:/:/*/
    .st_dispo2{background-image: url('../img/ouvert/375/dispo.png') !important;width: 137px; height: 42px;top: 35px !important; left: 60%}
    .st_button2{background-image: url('../img/ouvert/375/button.png')!important;width: 135px; height: 34px;left: 60%}
    .st_ultimate2{display: none; background-image: none}
}
@media screen and (min-width:1000px) and (max-width:1023px){
    /*/:/:/:/:/:/:/PETITE BANNIER/:/:/:/:/:/:/*/
    .st_banner{background-image: url('../img/fermer/1000/bg.png')}
    .st_pcars{background-image: url('../img/fermer/1000/pcars.png'); background-size: 80% !important; top: 14px;}
    .st_goy{background-image: url('../img/fermer/1000/goy.png'); background-size: 60% !important; top: 25px;left: 13.5%}
    .st_ultimate{background-image: url('../img/fermer/1000/ultime.png');background-size: 80% !important; left: 26%; height: 47px; top: 10px}
    .st_comp{display: none !important; background-image: none}
    .st_dispo{background-image: url('../img/fermer/1000/dispo.png');background-size: 60% !important; left: 53%; top: 15px}
    .st_button{background-image: url('../img/fermer/1000/button.png');background-size: 80% !important;right: 0px; top: 17px}
    /*/:/:/:/:/:/:/BANNIER PETITE FIN/:/:/:/:/:/:/*/
    .st_banner2{background-image: url('../img/ouvert/1000/bg.png')}
    .st_pcars2{background-image: url('../img/ouvert/720/pcars.png') !important;}
    .st_ultimate2{background-image: url('../img/ouvert/720/tag.png') !important; height: 88px; width: 213px; display: block !important;left: 23%}
    .st_pack{background-image: url('../img/ouvert/720/pack.png') !important; left: 53% !important}
    .st_dispo2{background-image: url('../img/ouvert/375/dispo.png') ;width: 137px; height: 42px;left: 75%}
    .st_button2{left: 75%}
    .st_laurel{display: none;}
}
/*/:/:/:/:/:/:/RESPONSIVE-SMARTPHONE-TABLETTE PETITE BANNIER FIN/:/:/:/:/:/:/*/


/*/:/:/:/:/:/:/RESPONSIVE-GENERAL/:/:/:/:/:/://*/
@media screen and (min-width:1024px) and (max-width:1276px){
    /*/:/:/:/:/:/:/PETITE BANNIER/:/:/:/:/:/:/*/
    .st_banner{background-image: url('../img/fermer/1000/bg.png')}
    .st_pcars{background-image: url('../img/fermer/1000/pcars.png'); background-size: 80% !important; top: 14px;}
    .st_goy{background-image: url('../img/fermer/1000/goy.png'); background-size: 60% !important; top: 25px;left: 13.5%}
    .st_ultimate{background-image: url('../img/fermer/1000/ultime.png');background-size: 80% !important; left: 26%; height: 47px; top: 10px}
    .st_comp{display: none !important; background-image: none}
    .st_dispo{background-image: url('../img/fermer/1000/dispo.png');background-size: 60% !important; left: 53%; top: 15px}
    .st_button{background-image: url('../img/fermer/1000/button.png');background-size: 80% !important;right: 0px; top: 17px}
    /*/:/:/:/:/:/:/BANNIER PETITE FIN/:/:/:/:/:/:/*/
    .st_banner2{background-image: url('../img/ouvert/1000/bg.png')}
    .st_pcars2{background-image: url('../img/ouvert/1000/pcars.png'); background-size: 80% !important; top: 15px;}
    .st_ultimate2{background-image: url('../img/ouvert/720/tag.png') !important; height: 88px; width: 213px; display: block !important;left: 23%}
    .st_pack{background-image: url('../img/ouvert/720/pack.png') !important; left: 53% !important}
    .st_dispo2{background-image: url('../img/ouvert/375/dispo.png') ;width: 137px; height: 42px;left: 75%}
    .st_button2{left: 75%}
    .st_laurel{display: none;}
}
@media screen and (min-width:1277px) and (max-width:1350px){
    /*/:/:/:/:/:/:/PETITE BANNIER/:/:/:/:/:/:/*/
    .st_banner{background-image: url('../img/fermer/1000/bg.png')}
    .st_pcars{background-image: url('../img/fermer/1000/pcars.png'); background-size: 90% !important; top: 14px;}
    .st_goy{background-image: url('../img/fermer/1000/goy.png'); background-size: 70% !important; top: 25px;left: 13.5%}
    .st_ultimate{background-image: url('../img/fermer/1000/ultime.png');background-size: 90% !important; left: 26%; height: 47px; top: 5px}
    .st_comp{display: none !important; background-image: none}
    .st_dispo{background-image: url('../img/fermer/1000/dispo.png');background-size: 70% !important; left: 53%; top: 10px}
    .st_button{background-image: url('../img/fermer/1000/button.png');background-size: 90% !important;right: 20pxpx; top: 17px}
    /*/:/:/:/:/:/:/BANNIER PETITE FIN/:/:/:/:/:/:/*/
    .st_banner2{background-image: url('../img/ouvert/1000/bg.png')}
    .st_pcars2{background-image: url('../img/ouvert/1000/pcars.png'); background-size: 90% !important; top: 15px;}
    .st_ultimate2{background-image: url('../img/ouvert/1000/tag.png');  top: 15px;left: 15% !important;}
    .st_pack{background-image: url('../img/ouvert/720/pack.png') !important; left: 45% !important;}
    .st_dispo2{background-image: url('../img/ouvert/1000/dispo.png'); widows: 187px; height: 62px;top: 73px;left: 65%}
    .st_laurel{background-image: url('../img/ouvert/1000/laurel.png'); widows: 322px; height: 45px; left: 65%;top: 15px}
}
@media screen and (min-width:1351px) and (max-width:1450px){
    /*/:/:/:/:/:/:/PETITE BANNIER/:/:/:/:/:/:/*/
    .st_banner{background-image: url('../img/fermer/1000/bg.png')}
    .st_pcars{background-image: url('../img/fermer/1000/pcars.png');top: 14px;}
    .st_goy{background-image: url('../img/fermer/1000/goy.png'); background-size: 80% !important; top: 25px;left: 13.5%}
    .st_ultimate{background-image: url('../img/fermer/1000/ultime.png');left: 26%; height: 47px; top: 4px}
    .st_comp{display: none !important; background-image: none}
    .st_dispo{background-image: url('../img/fermer/1000/dispo.png');background-size: 80% !important; left: 53%; top: 10px}
    .st_button{background-image: url('../img/fermer/1000/button.png');right: 35px; top: 17px}
    /*/:/:/:/:/:/:/BANNIER PETITE FIN/:/:/:/:/:/:/*/
    .st_banner2{background-image: url('../img/ouvert/1000/bg.png')}
    .st_pcars2{background-image: url('../img/ouvert/1000/pcars.png'); top: 15px;}
    .st_ultimate2{background-image: url('../img/ouvert/1000/tag.png');  top: 15px;left: 17% !important;}
    .st_pack{background-image: url('../img/ouvert/720/pack.png') !important; left: 45% !important;}
    .st_dispo2{background-image: url('../img/ouvert/1000/dispo.png'); widows: 187px; height: 62px;top: 73px;left: 68.5%}
    .st_laurel{background-image: url('../img/ouvert/1000/laurel.png'); widows: 322px; height: 45px; left: 67.5;top: 15px}
}
@media screen and (min-width:1451px) and (max-width:1650px){
    /*/:/:/:/:/:/:/PETITE BANNIER/:/:/:/:/:/:/*/
    .st_banner{background-image: url('../img/fermer/1000/bg.png')}
    .st_pcars{background-image: url('../img/fermer/1000/pcars.png');top: 14px;}
    .st_goy{background-image: url('../img/fermer/1000/goy.png');top: 25px;left: 10%}
    .st_ultimate{background-image: url('../img/fermer/2000/ultime.png');left: 20.5%; height: 30px; }
    .st_comp{left: 41.5%;}
    .st_dispo{background-image: url('../img/fermer/1000/dispo.png');left: 63%; top: 12px}
    .st_button{background-image: url('../img/fermer/1000/button.png');right: 35px; top: 12px}
    /*/:/:/:/:/:/:/BANNIER PETITE FIN/:/:/:/:/:/:/*/
    .st_banner2{background-image: url('../img/ouvert/1000/bg.png')}
    .st_pcars2{background-image: url('../img/ouvert/1000/pcars.png');top: 15px;}
    .st_ultimate2{background-image: url('../img/ouvert/1000/tag.png');  top: 15px;left: 20% !important;}
    .st_pack{background-image: url('../img/ouvert/720/pack.png') !important; left: 47% !important;}
    .st_dispo2{background-image: url('../img/ouvert/1000/dispo.png'); widows: 187px; height: 62px;top: 73px;left: 70%}
    .st_laurel{background-image: url('../img/ouvert/1000/laurel.png'); widows: 322px; height: 45px; left: 70%;top: 15px}
}
@media screen and (min-width:1651px) and (max-width:1750px){
    /*/:/:/:/:/:/:/PETITE BANNIER/:/:/:/:/:/:/*/
    .st_banner{background-image: url('../img/fermer/2000/bg.png')}
    .st_pcars{background-image: url('../img/fermer/2000/pcars.png');top: 12px;}
    .st_goy{background-image: url('../img/fermer/2000/goy.png');top: 25px;left: 9%}
    .st_ultimate{background-image: url('../img/fermer/2000/ultime.png');left: 21%; height: 32px; }
    .st_comp{left: 39.5% !important;}
    .st_dispo{background-image: url('../img/fermer/2000/dispo.png');left: 60%; top: 8px}
    .st_button{background-image: url('../img/fermer/2000/button.png');right: 35px; top: 12px}
    /*/:/:/:/:/:/:/BANNIER PETITE FIN/:/:/:/:/:/:/*/
    .st_ultimate2{left: 12%}
    .st_pack{left: 35%}
    .st_dispo2{left: 60%}
    .st_laurel{left: 60%}
}
@media screen and (min-width:1751px) and (max-width:1850px){
    /*/:/:/:/:/:/:/PETITE BANNIER/:/:/:/:/:/:/*/
    .st_banner{background-image: url('../img/fermer/2000/bg.png')}
    .st_pcars{background-image: url('../img/fermer/2000/pcars.png');top: 14px;}
    .st_goy{background-image: url('../img/fermer/2000/goy.png');top: 25px;left: 10%}
    .st_ultimate{background-image: url('../img/fermer/2000/ultime.png');left: 20.5%; height: 30px; }
    .st_comp{left: 36.5% !important;}
    .st_dispo{background-image: url('../img/fermer/2000/dispo.png');left: 64%; top: 8px}
    .st_button{background-image: url('../img/fermer/2000/button.png');right: 35px; top: 12px}
    /*/:/:/:/:/:/:/BANNIER PETITE FIN/:/:/:/:/:/:/*/
    /*/:/:/:/:/:/:/GENERAL GRAND BANNIER/:/:/:/:/:/://*/
    .st_contenu2{position: fixed; left: 200px;right: 0; bottom: -150px; height: 150px;}
    .st_banner2{height: 150px;; width: 100%; background-image: url('../img/ouvert/2000/bg.png');background-repeat: no-repeat; background-color: #080f16;}
    .st_pcars2{background-image: url('../img/ouvert/2000/pcars.png'); background-repeat: no-repeat; width: 165px; height: 89px; position: absolute; left: 15px; top: 15px}
    .st_logo{background-image: url('../img/ouvert/2000/logo.png'); background-repeat: no-repeat; width: 122px; height: 20px; position: absolute; left: 15px; bottom: 5px}
    .st_ultimate2{background-image: url('../img/ouvert/2000/tag.png');background-repeat: no-repeat; width: 281px; height: 113px; position: absolute; left: 11.5%; top: 12px}
    .st_pack{background-image: url('../img/ouvert/2000/pack.png');background-repeat: no-repeat; width: 281px; height: 113px; position: absolute; left: 32%; top: 12px}
    .st_dispo2{background-image: url('../img/ouvert/2000/dispo.png');background-repeat: no-repeat; width: 502px; height: 47px; position: absolute; left: 64%; top: 12px}
    .st_laurel{background-image: url('../img/ouvert/2000/laurel.png');background-repeat: no-repeat; width: 370px; height: 52px; position: absolute; left: 64%; bottom: 20px}
    .st_button2{background-image: url('../img/ouvert/2000/button.png');background-repeat: no-repeat; width: 135px; height: 34px; position: absolute; right: 60px; bottom: 30px}
    .st_redu{background-image: url('../img/ouvert/2000/redu.png'); background-repeat: no-repeat;width: 18px; height: 18px; position: absolute; right: 30px; top: 7px;}
    /*/:/:/:/:/:/:/GENERAL GRAND BANNIER FIN/:/:/:/:/:/:/*/
}
@media screen and (min-width:1851px) and (max-width:2000px){
    /*/:/:/:/:/:/:/PETITE BANNIER/:/:/:/:/:/:/*/
    .st_banner{background-image: url('../img/fermer/2000/bg.png')}
    .st_pcars{background-image: url('../img/fermer/2000/pcars.png');top: 14px;}
    .st_goy{background-image: url('../img/fermer/2000/goy.png');top: 25px;left: 10%}
    .st_ultimate{background-image: url('../img/fermer/2000/ultime.png');left: 20.5%; height: 30px; }
    .st_comp{left: 36.5% !important;}
    .st_dispo{background-image: url('../img/fermer/2000/dispo.png');left: 64%; top: 8px}
    .st_button{background-image: url('../img/fermer/2000/button.png');right: 35px; top: 12px}
    /*/:/:/:/:/:/:/BANNIER PETITE FIN/:/:/:/:/:/:/*/
    /*/:/:/:/:/:/:/GENERAL GRAND BANNIER/:/:/:/:/:/://*/
    .st_contenu2{position: fixed; left: 200px;right: 0; bottom: -150px; height: 150px;}
    .st_banner2{height: 150px;; width: 100%; background-image: url('../img/ouvert/2000/bg.png');background-repeat: no-repeat; background-color: #080f16;}
    .st_pcars2{background-image: url('../img/ouvert/2000/pcars.png'); background-repeat: no-repeat; width: 165px; height: 89px; position: absolute; left: 15px; top: 15px}
    .st_logo{background-image: url('../img/ouvert/2000/logo.png'); background-repeat: no-repeat; width: 122px; height: 20px; position: absolute; left: 15px; bottom: 5px}
    .st_ultimate2{background-image: url('../img/ouvert/2000/tag.png');background-repeat: no-repeat; width: 281px; height: 113px; position: absolute; left: 11.5%; top: 12px}
    .st_pack{background-image: url('../img/ouvert/2000/pack.png');background-repeat: no-repeat; width: 281px; height: 113px; position: absolute; left: 29%; top: 12px}
    .st_dispo2{background-image: url('../img/ouvert/2000/dispo.png');background-repeat: no-repeat; width: 502px; height: 47px; position: absolute; left: 66.5%; top: 12px}
    .st_laurel{background-image: url('../img/ouvert/2000/laurel.png');background-repeat: no-repeat; width: 370px; height: 52px; position: absolute; left: 66.5%; bottom: 20px}
    .st_button2{background-image: url('../img/ouvert/2000/button.png');background-repeat: no-repeat; width: 135px; height: 34px; position: absolute; right: 60px; bottom: 30px}
    .st_redu{background-image: url('../img/ouvert/2000/redu.png'); background-repeat: no-repeat;width: 18px; height: 18px; position: absolute; right: 30px; top: 7px;}
    /*/:/:/:/:/:/:/GENERAL GRAND BANNIER FIN/:/:/:/:/:/:/*/
}
/*/:/:/:/:/:/:/RESPONSIVE-GENERAL FIN/:/:/:/:/:/:/*/
